@font-face {
  font-family: "Bbang_gunimom";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bbang_gunimom.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TAEBAEKmilkyway";
  color: white;
  overflow: hidden;
}

.cheerUp {
  /* background-color: rgba(203, 191, 191, 0.158); */
  /* padding: 60px; */
  margin-top: 190px;
  font-family: "TAEBAEKmilkyway";
  color: white;
  text-align: center;
  align-items: center; /**아이템 세로 중간*/
  font-size: x-large;
}
.ad {
  display: flex;
  font-size: large;
  color: #ffffff79;
  justify-content: center;
  margin-top: 240px;
}

div > .doubleMark1 {
  font-size: 100px;
  margin-right: 50px;
}
.doubleMark2 {
  font-size: 100px;
  margin-left: 950px;
}

.comment {
  white-space: pre-line; /*데이터줄바꿈 하기 위함*/
  margin-top: -90px;
  font-size: xx-large;
}

.author {
  margin-top: 15px;
  font-size: large;
}

.reBtn {
  font-family: "TAEBAEKmilkyway";
  margin-top: 5px;
  border: none;
  background-color: transparent; /*투명배경*/
  cursor: pointer;
  color: white;
  font-size: large;
}

.reIcon {
  color: rgba(166, 36, 36, 0.861);
  margin-bottom: -2px;
}
.reIcon:hover {
  color: rgba(166, 36, 36, 0.861);
  height: 20px;
  margin-bottom: -3px;
}

.userPlus {
  color: #ffffff79;
  margin-right: 5px;
}

.userPlus:hover {
  color: #ffffff79;
  margin-right: 5px;
  margin-top: -2px;
  height: 20px;
}
