@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TAEBAEKmilkyway";
  color: white;
  overflow: hidden;
}

.cheerUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "TAEBAEKmilkyway";
  color: white;
  text-align: center;
  font-size: x-large;
}
.ad {
  display: flex;
  font-size: large;
  color: #ffffff79;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div > .doubleMark1 {
  font-size: 100px;
  margin-right: 50px;
}
.doubleMark2 {
  font-size: 100px;
  margin-left: 950px;
}

.comment {
  white-space: pre-line; /*데이터줄바꿈 하기 위함*/
  margin-top: -90px;
  font-size: xx-large;
}

.author {
  margin-top: 15px;
  font-size: large;
}

.reBtn {
  font-family: "TAEBAEKmilkyway";
  margin-top: 5px;
  border: none;
  background-color: transparent; /*투명배경*/
  cursor: pointer;
  color: white;
  font-size: large;
}

.reIcon {
  color: rgba(166, 36, 36, 0.861);
  margin-bottom: -2px;
}
.reIcon:hover {
  color: rgba(166, 36, 36, 0.861);
  height: 20px;
  margin-bottom: -3px;
}

.userPlus {
  color: #ffffff79;
  margin-right: 5px;
}

.userPlus:hover {
  color: #ffffff79;
  margin-right: 5px;
  margin-top: -2px;
  height: 20px;
}
.homeIcon {
  color: white;
  height: 25px;
}

.homeIcon:hover {
  color: #ffffff79;
}

.outBtn {
  display: flex;
  font-family: "TAEBAEKmilkyway";
  color: white;
  text-decoration-line: none;
  justify-content: right;
  margin-top: -23.5px;
  margin-right: -45px;
}

.outBtn:hover {
  color: #ffffff79;
}

.twoBtns {
  position: absolute;
  top: 8%;
  left: 4%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 420px) {
  .cheerUp {
    height: 250px;
    width: 330px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "TAEBAEKmilkyway";
    color: white;
  }
  .doubleMark1 {
    display: none;
  }
  .doubleMark2 {
    display: none;
  }
  .userPlus {
    color: #ffffff79;
    margin-right: 7px;
    margin-bottom: -10px;
  }

  .userPlus:hover {
    color: #ffffff79;
    height: 20px;
  }
  .twoBtns {
    position: absolute;
    top: 9%;
    left: 12%;
    transform: translate(-50%, -50%);
  }
  .comment {
    font-size: x-large;
    text-align: center;
  }
}
