@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.main {
  font-family: "TAEBAEKmilkyway";
  color: white;
  flex-wrap: wrap;
}
.intro {
  text-align: center;
  justify-content: center;
  align-items: center; /**아이템 세로 중간*/
  padding: 10px;
  margin-top: 200px;
  margin-right: 20px;
}

.linkBtn {
  display: flex;
  /* margin-top: 20px; */
  justify-content: center; /**아이템 가로정렬*/
  margin-right: 25px;
}
.btn10 {
  font-family: "TAEBAEKmilkyway";
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center; /**아이템 세로 중간*/
  justify-content: center; /**아이템 가로정렬*/
  height: 50px;
  width: 150px;
  font-size: x-large;
  text-decoration-line: none;
  color: #fff;
}
#userBtn {
}
#guestBtn {
  left: 50px;
}
.btn10:hover {
  font-weight: bold;
  /* text-shadow: 2px 2px black; */
}

.btn {
  padding: 15px 100px;
  margin: 10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
