@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.main {
  font-family: "TAEBAEKmilkyway";
  color: white;
  flex-wrap: wrap;
  position: absolute;
  top: 45%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.intro {
  justify-content: center;
  text-align: center;
}
.text {
  text-align: center;
  justify-content: center;
  margin-top: -8px;
}
.linkBtn {
  display: flex;
  justify-content: center; /**아이템 가로정렬*/
  position: absolute;
  top: 120%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.btn10 {
  font-family: "TAEBAEKmilkyway";
  display: flex;
  flex-wrap: nowrap;
  font-size: x-large;
  text-decoration-line: none;
  color: #fff;
  width: 130px;
  justify-content: center;
}

.btn10:hover {
  font-weight: bold;
  /* text-shadow: 2px 2px black; */
}

@media screen and (max-width: 420px) {
  .main {
    font-family: "TAEBAEKmilkyway";
    height: 130px;
    width: 150px;
    color: white;
    flex-wrap: wrap;
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
  }
}
