@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.main {
  font-family: "Chosunilbo_myungjo";
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center; /**아이템 세로 중간*/
  justify-content: center;
}
span {
  font-size: xxx-large;
  width: 100vw;
  justify-content: center;
  margin-top: 15%;
  margin-left: 50px;
}
.btn10 {
  display: flex;
  align-content: center;
  align-items: center; /**아이템 세로 중간*/
  justify-content: center; /**아이템 가로정렬*/
  height: 50px;
  width: 150px;
  font-size: x-large;
  text-decoration-line: none;
  text-transform: uppercase !important;
  color: #fff;
  cursor: hand;
  text-transform: capitalize;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}
#userBtn {
}
#guestBtn {
  left: 50px;
}
.btn10:hover {
  border: 1px solid black;
  color: white !important;
}
.btn10::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: rgba(1, 3, 62, 0.986);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn10::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: white;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn10:hover::before,
.btn1O:hover::before {
  opacity: 1;
  width: 116%;
}
.btn10:hover::after,
.btn1O:hover::after {
  opacity: 1;
  width: 120%;
}
.btn {
  padding: 15px 100px;
  margin: 10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
