@font-face {
  font-family: "Bbang_gunimom";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bbang_gunimom.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Bbang_gunimom";
  color: skyblue;
}
.background {
  font-size: xx-large;
  text-align: center;
  background-color: rgba(203, 191, 191, 0.158);
  width: 100vw;
  height: 170px;
  margin-top: 100px;
  padding-top: 90px;
}
