@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.login {
  font-family: "TAEBAEKmilkyway";
  color: white;

  margin: 13%;
  margin-left: 40%;
  padding: 20px;
  width: 210px;
  height: 250px;
  color: white;
  background-color: rgba(255, 255, 255, 0.146);
}
.loginDiv {
  text-align: center;
  margin-top: -8px;
}
.loginBtn {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 210px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-family: "TAEBAEKmilkyway";
  background-color: rgba(149, 162, 177, 0.642);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.loginBtn:hover {
  background-color: rgba(98, 145, 198, 0.642);
}
.signupBtn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  height: 30px;
  width: 210px;
  align-items: center;
  justify-content: center;
  font-family: "TAEBAEKmilkyway";
  background-color: rgba(149, 162, 177, 0.642);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.signupBtn:hover {
  background-color: rgba(98, 145, 198, 0.642);
}
input {
  border-bottom: #ffffff79 0.5px solid;
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  outline: none;
  background: transparent;
  color: white;
  font-family: "TAEBAEKmilkyway";
  display: inline-block;
  /* label 태그는 inline 태그이므로 width, height, margin 상하가 적용되지 않으므로 inline-block 속성으로 변경해주는 것이 우선이다!*/
  width: 200px;
  text-align: center;
}

button > a {
  display: flex;
  text-decoration: none;
}

.password {
  margin-top: 15px;
}
