@font-face {
  font-family: "Bbang_gunimom";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bbang_gunimom.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.login {
  font-family: "Bbang_gunimom";
  color: white;
  /* margin-top: 150px;
  margin-left: 500px; */
  margin: 13%;
  margin-left: 40%;
  padding: 20px;
  align-content: center;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.146);
}
.loginBtn {
  margin-top: 10px;
  flex-wrap: wrap;
}
button > a {
  display: flex;
  text-decoration: none;
}
