@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

form {
  white-space: pre-wrap;
  font-family: "TAEBAEKmilkyway";
  color: white;
}

.createId {
  margin: 10%;
  margin-left: 40%;
  padding: 20px;
  width: 210px;
  height: 310px;
  color: white;
  background-color: rgba(255, 255, 255, 0.146);
}

.joinTitle {
  text-align: center;
  margin-top: -4px;
}
.password {
  margin-top: 15px;
}
.rePassword {
  margin-top: 15px;
}
.joinBtn {
  font-family: "TAEBAEKmilkyway";
  width: 210px;
  height: 30px;
  margin-top: 10px;
  font-family: "TAEBAEKmilkyway";
  background-color: rgba(98, 145, 198, 0.642);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.joinBtn:disabled {
  font-family: "TAEBAEKmilkyway";
  border: none;
  background-color: rgba(149, 162, 177, 0.546);
  cursor: default;
  font-weight: 200;

  color: rgba(255, 255, 255, 0.671);
}
