@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "TAEBAEKmilkyway";
}

form {
  margin-top: 15px;
}

.inputText {
  font-family: "TAEBAEKmilkyway";
  font-size: x-large;
  display: flex-wrap;
  color: white;
  /* padding: 30px; */
  text-align: center;
  margin-top: 40px;
}
.text {
  margin-top: 4px;
}
.writeForm {
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

input {
  border-bottom: #ffffff79 0.5px solid;
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  outline: none;
  background: transparent;
}
input {
  color: white;
  font-family: "TAEBAEKmilkyway";
  display: inline-block;
  /* label 태그는 inline 태그이므로 width, height, margin 상하가 적용되지 않으므로 inline-block 속성으로 변경해주는 것이 우선이다!*/
  width: 280px;
  text-align: center;
}
::-webkit-input-placeholder {
  color: #ffffff79;
  font-size: large;
}

.outBtn {
  display: flex;
  font-family: "TAEBAEKmilkyway";
  color: white;
  text-decoration-line: none;
  justify-content: right;
  margin-top: -23px;
  margin-right: 20px;
}

.outBtn:hover {
  font-weight: bold;
}
.okBtn {
  border: none;
  background-color: transparent; /*투명배경*/
  cursor: pointer;
}
.homeBtn {
  display: flex;
  font-family: "TAEBAEKmilkyway";
  color: white;
  text-decoration-line: none;
  justify-content: right;
  margin-right: 65px;
  margin-top: 20px;
}
.homeIcon {
  height: 25px;
}
.homeBtn:hover {
  font-weight: bold;
}
.towBtns {
  margin-top: 30px;
  margin-right: 1150px;
}

.check {
  color: rgba(166, 36, 36, 0.861);
  height: 23px;
  margin-bottom: -3px;
}
