@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  color: black;
  color: #ffffff79;
  /* background: transparent; */
  /* display: flex; */
  /* text-align: center; */
}

.aa > button {
  text-align: center;
  margin: 0 auto;
  color: #ffffff79;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "TAEBAEKmilkyway";
}
.aa > button:hover {
  text-align: center;
  background-color: transparent;
}

button > .listTitle {
  font-family: "TAEBAEKmilkyway";
  color: #ffffff79;
  /* background: transparent; */
  /* display: flex; */
}

.TbTitle {
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
  margin-top: ;
}
.listTb {
  font-weight: bold;
  font-family: "TAEBAEKmilkyway";
  margin-top: 13px;
}

.box {
  font-family: "TAEBAEKmilkyway";
}

th {
  font-size: xx-large;
}

::-webkit-scrollbar-track {
  background: WHITE; /* 스크롤바의 색상 */
}

::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  /* background: rgba(121, 121, 121, 0.189); 스크롤바의 색상 */
  background: linear-gradient(
    rgba(170, 216, 234, 0.721),
    rgba(255, 192, 203, 0.594)
  );

  border-radius: 10px;
  height: 20%;
}

@media screen and (max-width: 420px) {
  .TbTitle > th {
    font-size: small;
  }
}
