@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* .boxSt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 700px;
  background-color: white;
  color: black;
  font-family: "TAEBAEKmilkyway";
  overflow: "scroll";
} */

body {
  color: black;
  color: #ffffff79;
  /* background: transparent; */
  /* display: flex; */
  /* text-align: center; */
}

.aa > button {
  text-align: center;
  margin: 0 auto;
  color: #ffffff79;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "TAEBAEKmilkyway";
}
.aa > button:hover {
  text-align: center;
  background-color: transparent;
}

button > .listTitle {
  font-family: "TAEBAEKmilkyway";
  color: #ffffff79;
  /* background: transparent; */
  /* display: flex; */
}

.TbTitle {
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
}
.listTb {
  font-weight: bold;
  font-family: "TAEBAEKmilkyway";
}
